html{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: #212529e1!important;
}
.form{
    border: solid beige 2px;
    width: fit-content;
    padding: 40px 20px;
    margin: 20px auto;  
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    min-width: 300px;
    max-width: 500px;
    max-height: 360px;
    background-color: #21252949;
}
form li{
    list-style: none;
}
form label{
    color: #cdd0d3;
}
form input, form textarea{
    background: #363b41e1;
    border: #212529e1 solid 2px;
    border-radius: 10px;
    padding: 5px 0;
    text-align: center;
    color: #cdd0d3;
}
form textarea{
    max-height: 98px;
    max-width: 420px;
}
form #img{
   display: none;
}
form .img, form button{
    width: fit-content;
    background: #cdd0d3;
    color: black;
    border-radius: 10px;
    border: black solid 2px;
    padding: 3px 30px;
}
form button{
    position: absolute;
    right: 350px;
    top: 350px;
    padding: 10px;
}
.precio::before{ 
    content:'$';
    color: #cdd0d3; 
}

.alert{
    background: #B3E6B8;
    display:inline;
    position: relative;
    left: 0px;
    top: -460px;
    bottom: -15px;

}
.alert3{
    background: #ffb25b;
    display:inline;
    position: relative;
    left: 0px;
    padding: 10px;
    top: -450px;
    margin: 20px;
}
.alert-error{
    background: #ff5b6b;
    display:inline;
    position: relative;
    left: 0px;
    padding: 10px;
    top: -450px;
    margin: 20px;
}
.tipos{
    margin: 10px;
}